.text-animation {
    -webkit-animation: fadeInLeft 1.2s both;
    /* Safari 4+ */
    -moz-animation: fadeInLeft 1.2s both;
    /* Fx 5+ */
    -o-animation: fadeInLeft 1.2s both;
    /* Opera 12+ */
    animation: fadeInLeft 1.2s both;
    /* IE 10+, Fx 29+ */
}

/* Safari 4+ */
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }

    25% {
        opacity: .5;
        -webkit-animation: translateX(-25px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

/* Fx 5+ */
@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-50px);
    }

    25% {
        opacity: .5;
        -moz-animation: translateX(-25px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

/* Opera 12+ */
@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-50px);
    }

    25% {
        opacity: .5;
        -o-animation: translateX(-25px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

/* IE 10+, Fx 29+ */
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    25% {
        opacity: .5;
        animation: translateX(-25px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
section.display-1{
    color: #F96A70;
}
  #type-js {  
  display: inline-block;
  line-height: 1;
  border-right: 3px solid #fff;  
  animation: cursor 1s step-end infinite;
}
@keyframes cursor {
  from, to { border-color: transparent; }
  50% { border-color: #fff; }
}