body{
    position: absolute;
  width: 1290px;
  height: 269px;
  top: 4722px;
  }
   .join{
    text-align: center;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
   color: #212121;
   border: 1px  #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
   .email{
    position: absolute;
  width: 955px;
  height: 48px;
  left: 29px;
  top: 192px;
   
    position: absolute;
  width: 1050px;
  height: 106px;
  left: 0px;
  top: 163px;
   background: #E3E2E2;
    position: absolute;
  width: 955px;
  height: 48px;
  left: 29px;
  top: 192px;
  }
   .signup{
    position: absolute;
  width: 219px;
  height: 106px;
  left: 1071px;
  top: 163px;
   background: #2F2F2F;
  border-radius: 8px;
    position: absolute;
  width: 153px;
  height: 48px;
  left: 1110px;
  top: 192px;
  }
 