
/* footer */
body {
  background-color: #F2F2F2;
}

#upn {
  width: 120px;
  height: 120px;
  left: 120px;
  top: 70px;
  margin-bottom: -20px;
}

#icons {
  width: 185px;
  height: 48px;
  margin-left: -10px;
  margin-top: -20px;
}
 .main-info{
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #5C5C5C; 


 }

mark.red {
  color: #F96A70;
  background: none;
}

.button {
  font-family: 'Fira Sans';
  font-style: normal;
  /*font-weight: 900;*/
  font-size: 1.2rem;
  line-height:2.3rem
}

/*.column {*/
/*  float: left;*/
/*  padding: 0px;*/
/*}*/

/*.clearfix::after {*/
/*  content: "";*/
/*  clear: both;*/
/*  display: table;*/
/*}*/
.container {
    width: 80%;
    max-width: 80rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
}


.clearfix{
  background-color: #F2F2F2;
  padding: 1rem;
  display: flex;
  align-items: center;
  
  /*margin-top:10vh;*/
}