@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
    margin: 0;
    padding: 0;
}

.about-container {
    position: relative;
    width: 95%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.about-header-container {
    position: relative;
    overflow: hidden;
}
.about-img {
    height: 22vh;
}
.head {
    position: relative;
    font-family: "Merriweather Sans";
    font-weight: 300;
    color: #212121;
    flex: 1 1 0;
    font-size: 1.7rem;
    min-width: 400px;
    margin-top: 3vh;
}
.mission {
    position: absolute;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 6rem;
    top: 0vh;
    left: 12vw;
    color: #212121;
}

.image {
    flex: 1 1 0;
    display: flex;
    flex-flow: row nowrap;
    min-width: 400px;
}
.rect {
    flex: none;

    width: 100%;
    border-radius: 15px;
}
@media screen and (max-width: 700px) {
    .rect {
        top: -15px;
        left: -15px;
    }
    .dots {
        bottom: -15px;
        right: -15px;
    }
}
.group-img {
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
    flex: none;
    margin-left: -97%;
    margin-top: 3%;
}

.dots {
    flex: none;
    margin-left: -25%;
    margin-bottom: -70%;
    max-width: 30%;
    object-fit: contain;
}

.green {
    background: rgba(99, 212, 113, 0.14);
    position: relative;
    height: 49vh;
    width: 100%;
    margin-top: 23vh;
}

.circle-red {
    width: 4.7rem;
}

.history-red {
    position: absolute;
    left: 11.5vw;
    top: -11%;
}

.history-icon {
    position: absolute;
    width: 3.6rem;
    left: 12.2vw;
    top: -8.3%;
}

.history h2 {
    color: #f96a70;
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    position: absolute;
    left: 18vw;
    top: -8%;
}

.history p {
    font-family: "Merriweather Sans";
    font-style: normal;
    font-weight: 300;
    width: 36%;
    position: absolute;
    left: 11.5vw;
    top: 12%;
    font-size: 1.6rem;
}

.team-red {
    position: absolute;
    left: 55vw;
    top: -11%;
}

.team-icon {
    position: absolute;
    width: 3.6rem;
    left: 55.62vw;
    top: -8.4%;
}

.team h2 {
    color: #f96a70;
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    position: absolute;
    left: 61.5vw;
    top: -8%;
}

.team p {
    font-family: "Merriweather Sans";
    font-style: normal;
    font-weight: 300;
    width: 36%;
    position: absolute;
    left: 55vw;
    top: 12%;
    font-size: 1.6rem;
}
