.hero-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    #righ {
        background-image: url("./pic.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and (max-width: 780px) {
            display: none;
        }
    }
    .col {
        flex-grow: 1;

        background-color: #e1575d;
        position: relative;

        #whiteblob {
            position: absolute;
            top: 45%;
            right: -50px;
            width: 90%;
            transform: translateY(-50%);
            z-index: 1;
            @media screen and (max-width: 780px) {
                right: 0;
                width: 105%;
            }
        }
        #box {
            display: flex;
            padding: 100px;
            justify-content: center;
            width: 908px;
            flex-direction: column;
            height: 756px;
            h1 {
                font-size: 68px;
                font-weight: 700;
            }
            p {
                font-weight: 600;
                font-size: 24px;
            }
            div {
                #resources {
                    width: 160px;
                    height: 50px;
                    font-size: 20px;
                    background-color: #cc3f45;
                    color: white;
                    border-radius: 8px;
                    font-weight: 600;
                    border: none;
                    transition: all 0.3s ease;
                }
                #resources:hover {
                    background-color: white;
                    border: solid 2px #cc3f45;
                    color: #cc3f45;
                    transition: all 0.3s ease;
                }
                #donate {
                    width: 130px;
                    height: 50px;
                    font-size: 20px;
                    background-color: white;
                    color: #cc3f45;
                    border-radius: 8px;
                    font-weight: 600;
                    border: solid 2px #cc3f45;
                    transition: all 0.3s ease;
                }
                #donate:hover {
                    background-color: #cc3f45;
                    color: white;
                    transition: all 0.3s ease;
                }
            }
        }

        #redblob {
            position: absolute;
            opacity: 30%;
            mix-blend-mode: soft-light;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            width: 110%;
        }
    }
    #wave {
        position: absolute;
        bottom: 0;
        left: 0;
        

        z-index: 3;
    }
}
