.text-animation {
    -webkit-animation: fadeInLeft 1.2s both;
    /* Safari 4+ */
    -moz-animation: fadeInLeft 1.2s both;
    /* Fx 5+ */
    -o-animation: fadeInLeft 1.2s both;
    /* Opera 12+ */
    animation: fadeInLeft 1.2s both;
    /* IE 10+, Fx 29+ */
}

/* Safari 4+ */
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }

    25% {
        opacity: .5;
        -webkit-animation: translateX(-25px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

/* Fx 5+ */
@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-50px);
    }

    25% {
        opacity: .5;
        -moz-animation: translateX(-25px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

/* Opera 12+ */
@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-50px);
    }

    25% {
        opacity: .5;
        -o-animation: translateX(-25px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

/* IE 10+, Fx 29+ */
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    25% {
        opacity: .5;
        animation: translateX(-25px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

section.title-text{
    color: white;
}
section.caring-community{
    color: #E1575D;
}

#type-js {
    display: inline-block;
    line-height: 1;
    animation: cursor 1s step-end infinite;
}

#demo {
    height: 100%;
    position: relative;
    overflow: hidden;
}


.green {
    background-color: #6fb936;
}

.thumb {
    margin-bottom: 30px;
}

.page-top {
    margin-top: 85px;
}


img.zoom {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;

}


.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.modal-header {

    border-bottom: none;
}

.modal-title {
    color: #000;
}

.modal-footer {
    display: none;
}
*
{
  margin: 0;
  padding: 0;
}

.parallax 
{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)   0%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../images/gallary/IMG_8252-Edit.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    letter-spacing: 0.3em;
}

.frontpage_text 
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#content
{
    background-color: #181818;
    box-sizing: border-box;
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



  #wrapper {
    display: table;
    width:100%;
    height:100%;
  }
  
  #wrapper-inner {
    display: table-cell;
    vertical-align:middle;
    width:100%;
    height:100%;
  }
  
  #scroll-down {
      display: block;
      position: relative;
      padding-top: 79px;
  }
  .arrow-down {
      display: block;
      margin: 0 auto;
      width: 22px;
      height: 38px;
  }
  .arrow-down:after {
      content: '';
      display: block;
      margin: 0;
      padding: 10px;
      width: 8px;
      height: 8px;
      border-top: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      behavior: url(-ms-transform.htc);
      -moz-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  }
  #scroll-title {
      display: block;
      text-transform: uppercase;
      color: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size:14px;
    font-weight:bold;
    letter-spacing:.1em;
  }
  #scroll-down::before {
      -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
      /* Safari 4+ */
      
      -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
      /* Fx 5+ */
      
      -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
      /* Opera 12+ */
      
      animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
      /* IE 10+, Fx 29+ */
      
      position: absolute;
      top: 0px;
      left: 50%;
      margin-left: -1px;
      width: 2px;
      height: 90px;
      background: #ffffff;
      content: ' ';
  }
  @-webkit-keyframes elasticus {
      0% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
      50% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      50.1% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      100% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
  }
  @-moz-keyframes elasticus {
      0% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
      50% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      50.1% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      100% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
  }
  @-o-keyframes elasticus {
      0% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
      50% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      50.1% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      100% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
  }
  @keyframes elasticus {
      0% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
      50% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      50.1% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      100% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
  }
