html, body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

main {
    text-align: left;
    padding-bottom: 50px;
}

p {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    /* font-weight: 400; */
    font-size: 26px;
    line-height: 32px; 
    color: #000000;  
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 36px;
    color: #F96A70;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-size: 30px;
    color: black;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-size: 28px;
    color: black;
}

.resources {
    margin: 150px;
    margin-top: 0px;
    margin-bottom: -50px;
}

mark.redwords {
    color: #FF0000;
    background: none;
}
  
mark.lightred {
      color: #F96A70;
      background: none;
}

mark.small {
    font-size: 25px;
    color: #454545;
    background: none;
}

.container {
    position: relative;
    text-align: center;
    padding-top: 10px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: -60px;
    margin-top: 10px;
    margin-left: 10px;
   
}

#greenwave { 
    width: 1263px;
    height: 200px;
    margin-bottom: -8px; 
    margin-top: 35px;
}

.videolibrary {
    margin: 150px;
    margin-top: 0px;
    margin-bottom: -45px;
}

.link {
    text-align: center;
    font-weight: bold;
    margin-top: -20px;
    text-decoration: underline;
}

a:link {
    color: #F96A70;
    text-decoration: none;
}



a:hover {
    color: red;
    text-decoration: none;
}

a.fom:link {
    color: #454545 !important;
}

a.fom:visited {
    color: #454545 !important;
}

a.fom:hover {
    color:#F96A70 !important;
}

.copingcovid {
    display: flex;
    align-items: center;
}

.covidtext {
    margin-left: 60px;
}

.vidlibh1 {
    text-align: center;
}

.facts {
    display: flex;
    align-items: center;
}

.factstext {
    margin-left: 60px;
}

.mentalhealth {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.mhtext {
    margin-left: 60px;
}

.domesticviolence {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.dvtext {
    margin-left: 60px;
}

.vidlibh3 {
    color: red;
}

.vaping {
    display: inline;
    text-align: center;
}
.parallax 
{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)   0%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(https://healthcare.utah.edu/healthfeed/postings/2022/images/mham-blog.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    letter-spacing: 0.3em;
}

.frontpage_text 
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#content
{
    background-color: #181818;
    box-sizing: border-box;
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



  #wrapper {
    display: table;
    width:100%;
    height:100%;
  }
  
  #wrapper-inner {
    display: table-cell;
    vertical-align:middle;
    width:100%;
    height:100%;
  }
  
  #scroll-down {
      display: block;
      position: relative;
      padding-top: 79px;
  }
  .arrow-down {
      display: block;
      margin: 0 auto;
      width: 22px;
      height: 38px;
  }
  .arrow-down:after {
      content: '';
      display: block;
      margin: 0;
      padding: 10px;
      width: 8px;
      height: 8px;
      border-top: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      behavior: url(-ms-transform.htc);
      -moz-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  }
  #scroll-title {
      display: block;
      text-transform: uppercase;
      color: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size:14px;
    font-weight:bold;
    letter-spacing:.1em;
  }
  #scroll-down::before {
      -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
      /* Safari 4+ */
      
      -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
      /* Fx 5+ */
      
      -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
      /* Opera 12+ */
      
      animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
      /* IE 10+, Fx 29+ */
      
      position: absolute;
      top: 0px;
      left: 50%;
      margin-left: -1px;
      width: 2px;
      height: 90px;
      background: #ffffff;
      content: ' ';
  }
  @-webkit-keyframes elasticus {
      0% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
      50% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      50.1% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      100% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
  }
  @-moz-keyframes elasticus {
      0% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
      50% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      50.1% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      100% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
  }
  @-o-keyframes elasticus {
      0% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
      50% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      50.1% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      100% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
  }
  @keyframes elasticus {
      0% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
      50% {
          -webkit-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      50.1% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
      }
      100% {
          -webkit-transform-origin: 0% 100%;
          -ms-transform-origin: 0% 100%;
          -moz-transform-origin: 0% 100%;
          -o-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
          -webkit-transform: scale(1, 0);
          -ms-transform: scale(1, 0);
          -moz-transform: scale(1, 0);
          -o-transform: scale(1, 0);
          transform: scale(1, 0);
      }
  }